.parallax .myVideo {
    right: 0; 
    height: auto; 
    filter: brightness(50%) blur(2px);
    object-fit: cover;
    overflow: hidden;
    min-width: 100%;
    min-height:100%;
    position: absolute;
    top:0;
    z-index: -1;
}